.btn {
  width: 100%;
  height: 80px;
  border: 1px solid #000000;
  border-radius: 8px;
  font-family: 'PT Mono';
  font-weight: 700;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}


.btn.btn--home-page {
  color: #000000;
  background-color: #ffffff;
}
.btn.btn--add-card-page {
  color: #ffffff;
  background-color: #000000;
}
